#header {
    width: 1150px;
     margin: 0 auto;
}

li {
  display: inline;
}

.kicknetphotos {
    height: 180px;
}

#top{  
    width: 1050px;
    height: 420px; 
    /*float: left; */ 
    margin: 15px; 
    margin-left: 30px;
    padding: 15px;
    border: 1px solid gray;
    font-size:90%;
}

#candragthru {
  width: 1100px;

}

#instructions {
  margin-left: 30px;
}

#left {  
    width: 315px; 
    height: 570px;
    line-height: 80%;
    float: left;  
    padding-left: 15px;
    margin: 10px 10px 5px 2px;  
    font-size:90%;
    
}

table {
    border: 1px solid gray;
    padding: 3px;
}

.group {
  padding-top: 20px;
  
}

.types {
  padding-top: 10px;
}

.sub {
  padding-left: 20px;
}

#score {
  line-height: 20px;
}

#right { 
    width: 200px;
    float: left;  
    margin-top: 12px;
    margin-left: 20px;  
 }


 #container {
	box-sizing: border-box;
	position: relative;
	width: 1000px;
	height: 570px;
	margin: 15px auto 30px auto;
	border-top: 10px solid #ddd;
	border-right: 40px solid #6B4423;
	border-bottom: 10px solid #ddd;
	border-left: 40px solid #6B4423;
	background-color:#DED5B6;
	background-image: linear-gradient(white 2px, transparent 2px),
	linear-gradient(90deg, white 2px, transparent 2px),
	linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	-webkit-box-shadow: 11px 13px 29px -1px rgba(0,0,0,0.52);
    -moz-box-shadow: 11px 13px 29px -1px rgba(0,0,0,0.52);
    box-shadow: 11px 13px 29px -1px rgba(0,0,0,0.52);
}

#middle {  
    width: 900px; 
    height: 150px; 
    float: left;  
    margin: 0 5px;  
    font-size:100%;
}

#bottom{  
    width: 1100px;  
    float: left;  
    margin: 0 5px;  
    font-size:100%;
}




/* leaves */

#leaves_a {
  position: absolute;
  width: 30%;
  top: 8px;
  left: 6px;
  
}

#leaves_b {
  position: absolute;
  width: 30%;
  top: 150px;
  left: 555px;
  
}

#leaves_2a {
  position: absolute;
  width: 30%;
  top: 300px;
  left: 5px;
}

#leaves_2b {
  position: absolute;
  width: 30%;
  top: 315px;
  left: 110px;
}

#leaves_2c {
  position: absolute;
  width: 30%;
  top: 310px;
  left: 435px;
}

#leaves_2d {
  position: absolute;
  width: 30%;
  top: 167px;
  left: 316px;
}

/* rocks */

#streamrock_11a {
  position: absolute;
 width: 40%;
 top: 20px;
 left: 500px;
}

#streamrock_11b {
  position: absolute;
 width: 40%;
 top: 250px;
 left: 100px;
}

#streamrock_44a {
  position: absolute;
  width: 30%;
  top: 56px;
  left: 32px;
  
}

#streamrock_44b {
  position: absolute;
  width: 30%;
  top: 1px;
  left: 275px;
  
}

#streamrock_22 {
  position: absolute;
  width: 30%;
  top: 291px;
  left: 588px;
}

/* critters */

#caddisfly { 
  position: absolute;
    width: 5%;
    top: 85px;
    left: 65px;
}

#cranefly_1 {
  position: absolute;
  width: 8%;
  top: 52px;
  left: 19px;
}

#cranefly_2 {
  position: absolute;
  width: 8%;
  top: 172px;
  left: 582px;
}

#cranefly_3 {
  position: absolute;
  width: 8%;
  top: 360px;
  left: 20px;
}

#crawfish { 
    position: absolute;
     width: 20%;
     top: 30px ;
     left: 650px;
}

#damselfly_1 {
  position: absolute;
  width: 12%;
  top: 286px;
  left: 186px;
}

#damselfly_2 {
  position: absolute;
  width: 12%;
  top: 335px;
  left: 140px;
}

#dragonfly {
  position: absolute;
  width: 10%;
  top: 323px;
  left: 445px;
  
}

#orbsnail { 
  position: absolute;
  width: 8%;
  top: 264px;
  left: 372px;
}

#pouchsnail {
  position: absolute;
  width: 5%;
  top: 25px;
  left: 404px;
}

#scud_1 {
  position: absolute;
  width: 15%;
  top: 147px;
  left: 525px;
}

#scud_2 {
  position: absolute;
  width: 15%;
  top: 38px;
  left: 314px;
}

#scud_3 {
  position: absolute;
  width: 15%;
  top: 372px;
  left: 121px;
}

#scud_4 {
  position: absolute;
  width: 15%;
  top: 175px;
  left: 558px;
}

#scud_5 {
  position: absolute;
  width: 15%;
  top: 240px;
  left: 436px;
}

#sowbug { 
  position: absolute;
     width: 7%;
     top: 150px ;
     left: 50px;
}

#stonefly { 
    position: absolute;
    width: 12%;
    top: 68px;
    left: 563px;
}

#worm {
  position: absolute;
  width: 20%;
  top: 270px;
  left: 665px;
}





